.contact {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 50vh; /* Ensure it takes up at least the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border: 1px solid #dbd8d8;
  border-radius: 8px;
  padding: 20px;
  padding-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  height: 150px;
  resize: vertical;
}

button {
  background-color: #f10606;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
  font-size: 1rem;
  color: #333;
  text-align: center;
}
